<br />


<div class="container">
  <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
 
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown1" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdown1"> 
            <a class="dropdown-item" href="{% url 'employees' %}">Employees</a>
            <a class="dropdown-item" href="{% url 'charges' %}">Charges</a>
            <a class="dropdown-item" href="{% url 'certifications' %}">Certifications</a>
            <a class="dropdown-item" href="{% url 'email_groups' %}">Email Groups</a>
            <a class="dropdown-item" href="{% url 'admin:index' %}">Admin Panel</a>
          </div>
        </li>
    
        <li class="nav-item">
          <a class="nav-link" href="{% url 'projects' %}">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'reports' %}">Reports</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <div class="topbar-divider d-none d-sm-block"></div>
        {% load static %}
        <!-- Nav Item - User Information -->
        {% if user.is_authenticated %}
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <img class="img-profile rounded-circle" src="{% static 'user-logo.png' %}" />
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">logged in as: {{ user.username }}</span> 
          </a>
          {% else %}
           
          {% endif %}
          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout_user' %}">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>